langchain==0.3.25
langchain-ollama==0.3.3
langchain-community==0.3.24
langgraph==0.2.74
langchain-core==0.3.60
fastapi==0.115.12
uvicorn==0.34.2
streamlit==1.45.1
requests==2.32.3
urllib3==2.2.3
charset-normalizer==3.4.2
chardet==5.2.0
pytesseract==0.3.13
Pillow==11.2.1
pypdf==5.4.0
chromadb==0.6.3
reportlab==4.4.0
python-multipart==0.0.20
pydantic==2.11.4
httpx==0.28.1
beautifulsoup4==4.13.4
lxml==5.4.0
python-dotenv==1.1.0
rich==14.0.0
typer==0.15.3
